.check__wrapper {
	padding: 24px 16px;
	position: relative;
}

.check__title {
	@include textLargeMedium;
	color: $grey800;
	margin: 0;
	margin-bottom: 24px;
	text-align: center;
}

.check__back {
	@include smallButtonBack;
}

.check__close {
	@include smallButtonClose;
}

.check__text {
	@include textSmallRegular;
	color: $grey800;
	margin: 0;
	margin-bottom: 628px;
}

.check__link {
	color: #3A70F7;
}

.lost__open-email {
	@include blueButton;
}

@media (min-width: 480px) {
	.check__text {
		margin-bottom: 24px;
	}
}