.new-password__wrapper {
	padding: 24px 16px;
	position: relative;
}

.new-password__title {
	@include textLargeMedium;
	color: $grey800;
	margin: 0;
	margin-bottom: 24px;
	text-align: center;
}

.new-password__back {
	@include smallButtonBack;
}

.new-password__close {
	@include smallButtonClose;
}

.new-password__text {
	@include textSmallRegular;
	color: $grey800;
	margin: 0;
	margin-bottom: 24px;
}

.new-password__label {
	@include textSmallMedium;
	color: $grey700;
	display: block;
	margin-bottom: 6px;
}

.new-password__input {
	@include input;
	@include inputState;

	&--password {
		padding-right: 65px;
	}
}

.new-password__help {
	@include textSmallRegular;
	color: $grey500;
	margin: 0;
	margin-top: 6px;
	margin-bottom: 24px;
}

.new-password__confirm {
	@include blueButton;
	border: none;
	margin-top: 406px;
}

@media (min-width: 480px) {
	.new-password__confirm {
		margin-top: 24px;
	}
}