.notifications {
	background-color: #ffffff;
	border-radius: 16px;
}

.notifications__list {
	@include reset-list;
	padding: 16px;
}

.notifications__title {
	@include textMediumMedium;
	color: $grey700;
	margin: 0;
	margin-bottom: 16px;
}

.notifications__item {
	padding-bottom: 16px;

	&--email {
		.notifications__container {
			&:first-of-type {
				margin-bottom: 16px;
			}
		}
	}

	&:not(:first-child):not(:last-child) {
		padding-bottom: 24px;
	}

	&:not(:last-child) {
		margin-bottom: 24px;
		border-bottom: 1px solid $grey100;
	}

	&:last-child {
		padding-bottom: 0;
	}

	.switcher__field {
		&:checked {
  	  + label {
  	    &::after {
  	      width: 16px;
  	      height: 16px;
  	      top: 2px;
  	      left: 18px;
  	    }

  	    &::before {
    			background-color: $primary500;
  			}
    	}
  	}
	}

	.switcher__sign {
		@include switcherSmall;
		color: $grey700;
		padding: 0 0 0 44px;
	}
}

.notifications__container {
	display: flex;
	align-items: center;
	position: relative;

	svg {
		margin-left: 3px;
		flex-shrink: 0;
		fill: $grey400;
		cursor: pointer;

		&:hover,
		&:focus,
		&:active {
			fill: $grey500;
		}
	}
}

.notifications__switcher {
	margin: 0 0 0 0;
}

@media (min-width: 1024px) {
	.notifications__list {
		padding: 32px;
	}

	.notifications__item {
		.switcher__field {
		&:checked {
  		 + label {
  		  &::after {
  		     left: 18px;
  		  }
  	  }
  	}
	}

	.switcher__sign {
  	font-weight: 500;
  }
}

	.notifications__container {
		svg {
			margin-left: 8px;
		}
	}
}