.share {
	padding: 24px 16px;
	margin-bottom: 24px;
	background-color: #ffffff;
	border-radius: 16px;
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}

.share__url {
	font-family: inherit;
	font-size: 16px;
	line-height: 24px;
	color: $grey700;
	display: block;
	width: 100%;
	background-color: $grey50;
	padding: 12px 14px;
	border: none;
	border-radius: 8px;
	margin-bottom: 16px;
}

.share__copy {
	@include textSmallMedium;
	color: #ffffff;
	padding: 9px;
	width: 100%;
	border: 1px solid $primary500;
	border-radius: 100px;
	background-color: $primary500;
	margin-bottom: 24px;
}

.share__social {
	display: flex;
	align-items: center;
}

@media (min-width: 1024px) {
	.share {
		display: flex;
		align-items: center;
		padding: 24px 0 24px 8px;
	}

	.share__url {
		@include textSmallMedium;
		width: auto;
		min-width: 200px;
		margin-right: 16px;
		margin-bottom: 0;
		padding: 12px 0 12px 8px;
	}

	.share__copy {
		padding: 9px 15px;
		margin-bottom: 0;
		margin-right: 12px;
		min-width: 120px;
		width: auto;
	}
}

@media (min-width: 1440px) {
	.share {
		padding: 22px 24px;
	}

	.share__url {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: $grey700;
		padding: 12px 14px;
		min-width: 290px;
	}

	.share__copy {
		@include textMediumMedium;
		padding: 12px 24px;
	}
}